<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>PiE Robotics Simulator</title>

    <!-- Disables scrolling with arrow keys and spacebar -->
    <script src="{{ url_for('static', filename='js/disable_scrolling.js') }}"></script>

    <script src="{{ url_for('static', filename='js/joypad.min.js') }}"></script>
  </head>

  <body>
    <h1>PiE Robotics Simulator</h1>

    <svg width="432" height="432" version="1.1" xmlns="http://www.w3.org/2000/svg" style="border:1px solid black">
      <rect x="144"
            y="144"
            width="60"
            height="80"
            rx="6"
            ry="6"
            stroke="navy"
            fill="transparent"
            transform="rotate(0)"
            stroke-width="2"/>
    </svg>

    <div id="demo">
      x and y coordinates updated here
    </div>

    <h4 id="timer"; style="color:blue">Autonomous Timer: </h4>

    <button type="button" onclick="start(auto=0)">Teleop simulation</button>
    <button type="button" onclick="start(auto=1)">Autonomous Simulation </button>
    <button type="button" onclick="stop()">stop simulation</button>
    <button type="button" id="inputMode" onclick="switchInput()">Input: Keyboard</button>

    <div style="margin-top:20px">
    <!-- Create a simple CodeMirror instance -->
    <script src="{{ url_for('static', filename='js/codemirror.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
    <script src="{{ url_for('static', filename='js/python.js') }}"></script>
    <script src="{{ url_for('static', filename='js/joypad.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <button type="button" onclick="uploadCode()">Upload code</button>

    <script>
      function setCookie(name, value) {
          document.cookie = name + "=" + (value || "");
      }
      function getCookie(name) {
          let nameEQ = name + "=";
          let ca = document.cookie.split(';');
          for(let i=0; i < ca.length; i++) {
              let c = ca[i];
              while (c.charAt(0)==' ') c = c.substring(1,c.length);
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
      }
      function eraseCookie(name) {
          document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      }

      var cm = CodeMirror(document.body, {
        value: "",
        mode:  "python",
        lineNumbers: true,
        indentUnit: 4
      });
      cm.setSize(width="100%", height="1000px");

      // var code = getCookie("code");
      var code = "";
      if (code == "" || code === null) {
        var xhr=new XMLHttpRequest();
        xhr.open("GET","{{ url_for('static', filename='student_code_file.py') }}");
        xhr.onload = () => {
          code = xhr.responseText;
          // setCookie("code", code)
          cm.setValue(code);
        }
        xhr.send();
      }
    </script>
    </div>

    <div style="position:absolute; top:80px; right:0px">
        <div class="info">
            <h2 id="heading"></h2>
            <p id="message"></p>
            <p id="button_0">A: </p>
            <p id="button_1">B: </p>
            <p id="button_2">X: </p>
            <p id="button_3">Y: </p>
            <p id="button_4">LB: </p>
            <p id="button_5">RB: </p>
            <p id="button_6">LT: </p>
            <p id="button_7">RT: </p>
            <p id="button_8">Select: </p>
            <p id="button_9">Start: </p>
            <p id="button_10">LS: </p>
            <p id="button_11">RS: </p>
            <p id="button_12">U: </p>
            <p id="button_13">D: </p>
            <p id="button_14">L: </p>
            <p id="button_15">R: </p>
            <p id="axis_0">LH: </p>
            <p id="axis_1">LV: </p>
            <p id="axis_2">RH: </p>
            <p id="axis_3">RV: </p>
        </div>

        <script>
        let padMap = {
            button_0: "A",
            button_1: "B",
            button_2: "X",
            button_3: "Y",
            button_4: "LB",
            button_5: "RB",
            button_6: "LT",
            button_7: "RT",
            button_8: "Select",
            button_9: "Start",
            button_10: "LS",
            button_11: "RS",
            button_12: "U",
            button_13: "D",
            button_14: "L",
            button_15: "R",
            axis_0: "LH",
            axis_1: "LV",
            axis_2: "RH",
            axis_3: "RV",
        }

        function resetInfo(e) {
            heading.innerText = 'No controller connected!';
            message.innerText = 'Please connect a controller and press any key to start.';
        };

        function updateInfo(e) {
            const { gamepad } = e;

            heading.innerText = 'Controller connected!';
            message.innerText = gamepad.id;
        };

        function clearPadVals() {
            for (let key in padMap) {
                document.getElementById(key).innerHTML = padMap[key] + ": ";
            }
        }

        resetInfo();
        joypad.on('connect', e => {
            console.log("gamepad connected");
            console.log(e);
            return updateInfo(e)
        });
        joypad.on('disconnect', e => {
            console.log(e);
            return resetInfo(e);
        });
        joypad.set({
            axisMovementThreshold: 0.05
        });
        joypad.on('button_press', e => {
            console.log(e.detail);
            const buttonName = e.detail.buttonName;
            clearPadVals();
            document.getElementById(buttonName).innerHTML = padMap[buttonName] + ": 1";
        });
        joypad.on('axis_move', e => {
            console.log(e.detail);
            const axisName = "axis_" + e.detail.axis;
            clearPadVals();
            document.getElementById(axisName).innerHTML = padMap[axisName] + ": " + e.detail.axisMovementValue;
            if (mode === "teleop") {
                if (inputMode === "gamepad") {
                    if (axisName == "axis_0") {
                        if (e.detail.axisMovementValue > 0.7) {
                            worker.postMessage({keypress: true, keyCode: 68, up: false}); //Left Joystick Right
                        } else if (e.detail.axisMovementValue < -0.7) {
                            worker.postMessage({keypress: true, keyCode: 65, up: false}); //Left Joystick Left
                        } else {
                            worker.postMessage({keypress: true, keyCode: 68, up: true});
                            worker.postMessage({keypress: true, keyCode: 65, up: true});
                        }
                    } else if (axisName == "axis_1") {
                        if (e.detail.axisMovementValue > 0.7) {
                            worker.postMessage({keypress: true, keyCode: 83, up: false}); //Left Joystick Down
                        } else if (e.detail.axisMovementValue < -0.7) {
                            worker.postMessage({keypress: true, keyCode: 87, up: false}); //Left Joystick Up
                        } else {
                            worker.postMessage({keypress: true, keyCode: 83, up: true});
                            worker.postMessage({keypress: true, keyCode: 87, up: true});
                        }
                    } else if (axisName == "axis_2") {
                        if (e.detail.axisMovementValue > 0.7) {
                            worker.postMessage({keypress: true, keyCode: 39, up: false}); //Right Joystick Right
                        } else if (e.detail.axisMovementValue < -0.7) {
                            worker.postMessage({keypress: true, keyCode: 37, up: false}); //Right Joystick Left
                        } else {
                            worker.postMessage({keypress: true, keyCode: 39, up: true});
                            worker.postMessage({keypress: true, keyCode: 37, up: true});
                        }
                    } else if (axisName == "axis_3") {
                        if (e.detail.axisMovementValue > 0.7) {
                            worker.postMessage({keypress: true, keyCode: 40, up: false}); //Left Joystick Down
                        } else if (e.detail.axisMovementValue < -0.7) {
                            worker.postMessage({keypress: true, keyCode: 38, up: false}); //Left Joystick Up
                        } else {
                            worker.postMessage({keypress: true, keyCode: 40, up: true});
                            worker.postMessage({keypress: true, keyCode: 38, up: true});
                        }
                    }
                }
            }
        });

        </script>
    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
